       <section class="main">
        <div id="ri-grid" class="ri-grid ri-grid-size-3">
          <img class="ri-loading-image" src="<%= image_path('loading.gif') %>"/>
          <ul>

            <li><a href="#"><img src="<%= image_path('medium/1.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/2.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/3.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/4.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/5.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/6.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/7.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/8.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/9.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/10.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/11.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/12.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/13.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/14.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/15.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/16.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/17.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/18.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/19.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/20.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/21.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/22.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/23.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/24.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/25.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/26.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/27.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/28.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/29.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/30.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/31.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/32.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/33.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/34.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/35.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/36.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/37.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/38.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/39.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/40.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/41.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/42.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/43.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/44.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/45.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/46.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/47.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/48.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/49.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/50.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/51.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/52.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/53.jpg') %>"/></a></li>
            <li><a href="#"><img src="<%= image_path('medium/54.jpg') %>"/></a></li>
          </ul>
        </div>
      </section>

        <script type="text/javascript"> 
      $(function() {
      
        $( '#ri-grid' ).gridrotator( {
          rows : 4,
          columns : 8,
          maxStep : 2,
          interval : 2000,
          w1024 : {
            rows : 5,
            columns : 6
          },
          w768 : {
            rows : 5,
            columns : 5
          },
          w480 : {
            rows : 6,
            columns : 4
          },
          w320 : {
            rows : 7,
            columns : 4
          },
          w240 : {
            rows : 7,
            columns : 3
          },
        } );
      
      });
    </script>
    </body>
